body {
    margin: 0;
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
    color:white; ;
    font-family: poppins, sans-serif;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #b026ff;
    font-size: 50px;
    text-shadow:
    0px 0px 10px #b026ff,
    0px 0px 20px #b026ff,
    0px 0px 40px #b026ff;
}

a {
    background: #b026ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
a:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 25px #b026ff;
}
p {
    color: #b026ff;
    font-size: 20px;
    text-shadow:
    0px 0px 10px #b026ff,
    0px 0px 20px #b026ff,
    0px 0px 40px #b026ff;
}
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background: #b026ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 25px #b026ff;
}
@media (max-width: 768px) {
    .buttons {
    flex-direction: column;
    align-items: center;
}
a {
    width: 200px;
    text-align: center;
    }
}